@charset "utf-8";
.wapper{ width:1182px; margin:25px auto 0; height:595px;}

.channel-info { width:100%; height:53px; margin:20px auto; background:#FFF; border:1px solid #e8e8e8; font-size: 15px; }
.channel-info p { margin-left:20px; width:auto; float:left; line-height:53px; }
.channel-info .activity{ margin-left:100px;}
.channel-info font { color:#999; }
.channel-info .share-btn { margin-left:10px; }
.channel-info .create-btn { margin-left:10px; }
.channel-info .close-btn { margin-left:10px; }

.lcps{ border:#e8e8e8 solid 1px; float:left; width:610px; overflow:auto; background:#fff;}
.lcps .tab-title { width:100%; height:53px; background: #f6f6f6; line-height: 53px; border-bottom:#e8e8e8 solid 1px;}
.lcps .tab-title h1 { margin-left: 20px; font-size: 18px; font-weight: 700; color:#333333; }

.lcps .tab-play { width:100%; height:53px; border-bottom:#e8e8e8 solid 1px; float:left; position:relative;}
.lcps .tab-play img{ margin-left:15px; vertical-align:middle;}
.lcps .tab-play .bt{ font-size:18px; color:#333; line-height:53px; vertical-align:middle; font-weight:bold; }
.lcps .tab-play .ctlBtn {  top:8px; right:8px;  width:280px; position:absolute;}
.lcps .tab-play .ctlBtn a{ float:left; margin-left:3px; text-align:center; line-height:35px;  height:35px; display:block; color:#fff; text-decoration:none;  }
.lcps .tab-play .ctlBtn .set{ background:url(../img/btn01.png) ; width:113px; }
.lcps .tab-play .ctlBtn .set:hover{ background-position:0 35px; }
.lcps .tab-play .ctlBtn .restar{  background:url(../img/btn01.png) no-repeat scroll -116px 0px; width:76px; color:#db2507; }
.lcps .tab-play .ctlBtn .restar:hover{background:url(../img/btn01.png) no-repeat scroll -116px -35px; color:#fff;}
.lcps .tab-play .ctlBtn .close{  background:url(../img/btn01.png) no-repeat scroll -195px 0px;  width:74px; }
.lcps .tab-play .ctlBtn .close:hover{  background:url(../img/btn01.png) no-repeat scroll -195px -35px;  width:74px; }

.lcps .player-box{ margin:10px auto 20px auto; width:475px; height:240px; text-align:center;}
.lcps .player-box .player-volume-wapper{width:65px;height:100%; float: left; position:relative;}
.lcps .player-box .player-volume-wapper .player-volume-box{position: absolute; right: 8px; bottom: 35px; width: 18px; height: 135px;}
.lcps .player-box .player-volume-wapper .volume-box{position:absolute; left:6px; top: 8px; width:6px;height:100px; background:url('../img/slidBg.png') no-repeat;cursor: pointer; z-index: 0;}
.lcps .player-box .player-volume-wapper .volume-btn{position:absolute; left:1px; top: 20px; width:16px;height:16px; background:url('../img/slidbtn.png') no-repeat;cursor: pointer; z-index: 1;}
.lcps .player-box .player-volume-wapper .volume-icon{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/spk1a.png') no-repeat; cursor: pointer;}
.lcps .player-box .player-volume-wapper .volume-icon:hover{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/spk1b.png') no-repeat; cursor: pointer;}
.lcps .player-box .player-volume-wapper .volume-no-icon{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/spk2a.png') no-repeat; cursor: pointer;}
.lcps .player-box .player-volume-wapper .volume-no-icon:hover{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/spk2b.png') no-repeat; cursor: pointer;}
.lcps .player-box .player-volume-wapper .live-state{position: absolute; bottom: 0px;right:8px;}
.lcps .player-box .lss-box{width:320px;height:100%; float: left;}
#lss{width:320px;height:240px;}
.lcps .player-box .change-video-source{width:87px;height:100%; float: left; position:relative;}
.lcps .player-box .change-video-source .cut-mic{position: absolute; bottom: 0px; right: 0px; display:block;}

.lcps .lcps-player-box{width:100%;}
.lcps .lcps-player-box .player-volume-wapper{width:40px;}
.lcps .lcps-operate-left{width:80px; height:100%; float: left; margin-left: 25px; position: relative;}
.lcps .lcps-operate-left span{display: block; margin-top: 10px;}
.lcps .lcps-operate-right{width:90px; height:100%; float: left; margin-left: 25px; position: relative;}
.lcps .lcps-operate-right span{ margin-top: 10px; font-size: 14px; display: inline-block;}
.lcps .lcps-operate-right .mode-lable{font-size: 16px; margin-bottom: 5px;}

/*切换效果*/
.lcps .panes-wapper{width:100%;height:260px; overflow: hidden;}
.lcps .panes-wapper .tabPanel{ }
.lcps .panes-wapper .tabPanel ul { height:29px; border-bottom:1px solid #D2D2D2; }
.lcps .panes-wapper .tabPanel ul li { box-sizing:unset; float:left; margin:0 2px 0 10px; font-size:14px; height:29px; line-height:30px; width:102px; text-align:center; cursor:pointer; text-shadow:0 1px 0 #fff; border-radius:4px 4px 0 0; background:url(../img/u25.png) no-repeat }
.lcps .panes-wapper .tabPanel .hit { box-sizing:unset; border-bottom:1px solid #fff; cursor:pointer; color:black; text-shadow:0 1px 0 #fff;  background:url(../img/u23.png) no-repeat }
.lcps .panes-wapper .panes { width:95%; height:auto; background-color:#fff;}
.lcps .panes-wapper .pane { background-color:#fff; display:none; float: left;width: 100%; height: auto;}
.lcps .panes-wapper .pane p{ line-height: 40px; margin-left: 150px;}
.lcps .panes-wapper .pane select{height: 22px; width: 200px;}
.lcps .panes-wapper #publishVideoBox{ margin-top: 20px; position: relative;}
.lcps .panes-wapper #phonePublishConfigBox{ margin-top: 10px; padding-left: 20px; position: relative;}
.lcps .panes-wapper #outPublishBox{ margin-top: 10px; padding-left: 20px; position: relative;}
#publishVideoBox .publish-volume-box{position: absolute; right: 120px; top: 0px; width: 18px; height: 135px;}
#publishVideoBox .volume-box{position:absolute; left:6px; top: 8px; width:6px;height:100px; background:url('../img/slidBg.png') no-repeat;cursor: pointer; z-index: 0;}
#publishVideoBox .volume-btn{position:absolute; left:1px; top: 20px; width:16px;height:16px; background:url('../img/slidbtn.png') no-repeat;cursor: pointer; z-index: 1;}
#publishVideoBox .volume-icon{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/mic1a.png') no-repeat; cursor: pointer;}
#publishVideoBox .volume-icon:hover{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/mic1b.png') no-repeat; cursor: pointer;}
#publishVideoBox .volume-no-icon{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/mic2.png') no-repeat; cursor: pointer;}
#publishVideoBox .volume-no-icon:hover{position: absolute; bottom: 0px; left: 0px; width: 18px; height:18px; background:url('../img/mic2.png') no-repeat; cursor: pointer;}

/*切换内容*/
.lcps-panes .link-box { text-align:left; margin-top: 5px; }
.lcps-panes .link-box input { width:284px; font-size:12px }
.lcps-panes .link-label{float:left; margin-top: 8px;}
.lcps-panes #rtmpUrlCopyBtn{float:left;margin-left: 10px; margin-top: -1px;}
.lcps-panes .desc { margin:10px 0; color:#868686; text-align:left }
.lcps-panes .shangm span { line-height:28px; font-size:18px }
.lcps-panes .publish-box { width:100%; height:117px; background:#F8F8F8; border:1px solid #E4E4E4 }
.lcps-panes .publish-box .publish-lable { width:51px; height:111px; margin:2px; background:#DB2507; float:left }
.lcps-panes .publish-box .publish-lable p { width:24px; padding:8px 0 0 15px; color:#FFF; font-size:17px; font-weight:bold }
.lcps-panes .publish-box .publish-desc { width:486px; float:right }
.lcps-panes .publish-box .publish-desc li { text-align:left; font-size:12px; height:36px; line-height:36px }
.lcps-panes .publish-box .publish-desc li span { font-weight:bold; }
.lcps-panes .publish-box .publish-desc li a { color:#6D99D5; }
.lcps-panes .publish-box .publish-desc li a:hover { color:#6D99D5 }
.lcps-panes .publish-box .publish-desc li a:visited { color:#6D99D5 }
.lcps-panes .publish-box .publish-desc select { height: 22px; width: 200px; }
.lcps-panes .publish-box .phone-publish-qrcode{float: left; margin-left:20px; margin-top:10px;}
.lcps-panes .publish-box .phone-publish-qrcode img{width:90px;height:90px;border:none;}
.lcps-panes .publish-box .phone-publish-info {float:left; margin-left:10px; margin-top:14px;}
.lcps-panes .publish-box .phone-publish-info p{ margin-top:6px;}
.lcps-panes .publish-box .phone-publish-info a{color:#6d99d5;}

.lcps-panes .open-box{ width:100%;height:194px; overflow:auto; background:#ffffff; border-top:#e8e8e8 1px solid;text-align:center;font-size:16px;}
.lcps-panes .open-box img{width:61px;height:62px;border:0;}
.lcps-panes .open-box .opening{width:50%; margin:15px auto; font-size:14px; display:none;}
.lcps-panes .open-box .opening .progress{margin:0 0 5px 0;}

.lcps .panes-wapper #lcpsOpenBox{ margin-top: 20px; position: relative;width:100%; height: 188px;}
#lcpsOpenBox ul{width:100%; height: 100%;}
#lcpsOpenBox li{float:left; margin-left:16px; width:134px;height:100%;}
#lcpsOpenBox li .flash-box{width:134px; height:104px;position: relative;}
#lcpsOpenBox li .small-video{width:130px; height:100px;}
#lcpsOpenBox li .btn-box{width:100%; height:39px; text-align: left; padding-top: 0px;}
#lcpsOpenBox li .btn-box span{ padding:3px 13px;line-height:40px; }
#lcpsOpenBox li .select-box{width:100%; height:50px; }
#lcpsOpenBox li .select-box span{display: block;}
#lcpsOpenBox .ifActive{border:2px solid #F00;}


/*progress*/
.progress {
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.progress .bar {
    background-color: #0e90d2;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress .bar + .bar {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
.progress-striped .bar {
    background-color: #149bdf;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress-danger .bar, .progress .bar-danger {
    background-color: #dd514c;
    background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
    background-color: #ee5f5b;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar, .progress .bar-success {
    background-color: #5eb95e;
    background-image: linear-gradient(to bottom, #62c462, #57a957);
    background-repeat: repeat-x;
}
.progress-success.progress-striped .bar, .progress-striped .bar-success {
    background-color: #62c462;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar, .progress .bar-info {
    background-color: #4bb1cf;
    background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
    background-repeat: repeat-x;
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
    background-color: #5bc0de;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar, .progress .bar-warning {
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
    background-color: #fbb450;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
/*音量条*/
.volume_control_box {
    position: absolute;
    top: 82px;
    left: 0px;
    width: 140px;

    -moz-box-sizing:border-box;

    box-sizing:border-box;

}
.volume_control {   
    width: 100px;
    margin: 0 auto;
       
}

/*音量条的滑动器*/

.volume_control .slider {

    width: 12px;

    height: 12px;

    border-radius: 6px;

    border:1px solid rgb(0,0,0);

    position: absolute;

    left: 93px;

    top: -2px;

    background-color: #DCDCDC;

    background: -webkit-linear-gradient(top,rgb(246,246,246),rgb(190,190,190));

    background: -moz-linear-gradient(top,rgb(246,246,246),rgb(190,190,190));

    background: -ms-linear-gradient(top,rgb(246,246,246),rgb(190,190,190));

    background: linear-gradient(top,rgb(246,246,246),rgb(190,190,190));

}

/*音量条和进度条外层包裹*/

.base_bar {

    height: 10px;

    border-top: 1px solid rgb(18,18,18);

    border-bottom: none;

    border-radius: 5px;

    display: inline-block;

    box-shadow: 0 1px 0 rgb(60,61,64);

    position: relative;

    background-color: #2D2D2D;

    background: -webkit-linear-gradient(top,rgb(50,50,50),rgb(40,40,40));

    background: -moz-linear-gradient(top,rgb(50,50,50),rgb(40,40,40));

    background: -ms-linear-gradient(top,rgb(50,50,50),rgb(40,40,40));

    background: linear-gradient(top,rgb(50,50,50),rgb(40,40,40));

}
/*音量条和进度条*/

.progress_bar {

    display: block;

    height: 100%;

    border-radius: 5px;

    background-color: #32A4EE;

    background: -webkit-linear-gradient(top,rgb(101,215,251),rgb(23,137,232));

    background: -moz-linear-gradient(top,rgb(101,215,251),rgb(23,137,232));

    background: -ms-linear-gradient(top,rgb(101,215,251),rgb(23,137,232));

    background: linear-gradient(top,rgb(101,215,251),rgb(23,137,232));

}

.volume_control .base_bar {width: 100px;}

.volume_control .progress_bar {width: 100%;}
