@charset "utf-8";

/*内容*/
.content { width:1176px; height:709px; margin:50px auto; border:1px solid #CCCCCC; background: #fff }
.c_1 { width:1100px; height:65px; line-height:65px; margin:0px auto; border-bottom:1px solid #CCC }
.c_1_c { width:1026px; height:65px; line-height:65px; margin:0px auto; }
.c_1 h1 { width: 224px; float:left; color: #1b1b1b; font-family: "微软雅黑 Bold", "微软雅黑"; font-size: 18px; font-weight: 700; }
.c_1 p { line-height:35px;width:132px; height:35px; margin:15px 0; float:right; 
	 background: none repeat scroll 0 0 #db2507;
    border: 1px solid #db2507;border-radius: 7px; text-align:center }
.c_1 p span { line-height:35px; color: #ffffff; font-family: "微软雅黑 Regular", "微软雅黑";font-size: 15px; cursor:pointer; }
.c_2 { width:1010px; height:40px; margin:20px auto 0;}
.c_2 span { color: #1e1e1e; font-family: "微软雅黑 Regular", "微软雅黑"; font-size: 16px; line-height:40px }
.c_2 .sp1 { margin:0 170px 0 57px }
.c_2 .sp2 { margin:0 130px 0 0 }
.c_2 .sp3 { margin:0 100px 0 0 }
.c_2 .sp4 { margin:0 124px 0 0 }
.c_2 .sp5 { margin:0 170px 0 0 }
.c_3 { margin:20px auto }
.c_3 ul li { width:1010px; height:62px; margin:10px auto 0; border-bottom:1px solid #F2F2F2 }
.c_3 p { color: #515151; font-family: "微软雅黑 Regular", "微软雅黑"; font-size: 14px; line-height:48px; float:left;
 text-align:center; }
.c_3 .sp1{text-align:left; }
.c_3 img { height: 45px; width: 77px; }
.c_3 .sp1 { width:250px }
.c_3 .sp2 { width:210px }
.c_3 .sp3 { width:120px }
.c_3 .sp4 { width:180px; color:#F00 }
.c_3 .sp5 { width:220px }
.c_3 .sp5 span { -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; }
.c_3 .sp5 a{text-decoration: none;}
.c_3 .sp5 .bj { padding:3px 10px; background:#DB2507; color:#FFF; border:1px solid #DB2507; }
.c_3 .sp5 .fx { padding:3px 10px; color:#DB2507; border:1px solid #DB2507; }
.c_3 .sp5 .sc { padding:3px 10px; color:#DB2507; border:1px solid #DB2507; }
/*================活动页面=================*/
a.od { border:#BCBCBC 2px solid; margin-top:2px; display:block; font-weight:bold; float:left; width:80px; color:#547bc9; line-height:25px; height:25px; text-align:center; text-decoration:none }
a.od { background:#eef1f8 }
a.od:hover { background:#eee }
#feedbox { width:671px; height:570px; background:#FFF; border:#BCBCBC 1px solid; margin:2px 0 0 2px; overflow:hidden; cursor:move; position:absolute; top:162px; left:608px; filter:alpha(opacity=100); opacity:1; }
#feedbox .main { padding:10px; }
.add_1 { width:650px; height:35px; margin:10px auto 0; border-bottom:1px solid #F2F2F2; color: #1b1b1b; font-family: "微软雅黑 Bold", "微软雅黑"; font-size: 18px; font-weight: 700; }
.add_1 p { width:124px; text-align:center; float:left; }
.add_1 img { cursor:pointer; float:right }
.add_bg { width:528px; margin:20px auto; }
.inputdiv { width:420px; margin:10px auto 0; height:40px; overflow:hidden; line-height:30px; }
.inputdiv span { width:25%; float:left; text-align:right; color: #949494; font-family: "微软雅黑 Regular", "微软雅黑"; font-size: 14px; line-height:26px; }
.inputdiv input { width: 250px; color: #000000; font-family: "微软雅黑"; font-size: 13px; font-style: normal; font-weight: normal; height: 25px; text-align: left; text-decoration: none; line-height:25px; }
.inputdiv .ll { padding:3px 10px; background:#DB2507; color:#FFF; border:1px solid #DB2507; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; cursor:pointer; }
.add_bg .img { width:200px; margin:10px auto 0 }
.add_bg .itext { width:160px; margin:15px auto; color: #949494; font-family: "微软雅黑 Regular", "微软雅黑"; font-size: 14px }
.add_bg .cjan{ width:132px; height:35px; margin:15px auto;background:url(../images/u111.png) no-repeat; text-align:center }
.add_bg .cjan span { line-height:35px; color: #ffffff; font-family: "微软雅黑 Regular", "微软雅黑"; font-size: 15px; cursor:pointer; }
.fengx{ width:530px; margin:0 auto}
.jieshu{ width:430px; margin:20px auto 0;  font-family: "微软雅黑 Regular","微软雅黑"; font-size: 14px;}

/*分页*/
	
	.party-pagination-container{

	position:relative;
	right:0px;
	margin-left:880px;

}
.party-pagination-container a{
	text-decoration:none;
    border-radius: 4px;
    background-color: #DB2507;
    float: left;
    line-height: 20px;
    padding: 2px 6px;
	color:#FFF;
	margin-right:5px;
	margin-top:4px;
}
.party-pagination a:hover{
	background:#e8e8e8;
	color:#333;
}