body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color:#ffffff;
  font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* common */
.container {
  width:900px;
}
.row {
  margin:0;
}
.cb {
  clear:both;
}
.navbar-inner span {
  margin-top:9px;
  position:absolute;
  color:#333;
}
.control-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}
.block {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 white;
  border-color: #d4d4d4 #ccc #ccc;
  border-image: none;
  border-right: 1px solid #ccc;
  border-style: solid;
  border-width: 1px;
  margin: 1em 0;
}
.block-header {
  border-left: medium none;
  border-radius: 0;
  border-right: medium none;
  border-top: medium none;
  margin-bottom: 0;
}
.block-content {
  padding:15px;
  height:auto;
}
.table {
  margin:0px;
  padding:0px;
}
.table th, .table td {
  padding:5px 3px;
  text-align:left;
}
.table .success {
  background-color:#F3F3F3;
}
.dropdown-menu {
  text-align:left;
}
.form-horizontal {
  margin-left:150px;
}
#highcharts {
  min-width:310px;
  _width:310px; 
  height:500px;
  margin:0 auto;
}
.p30 {
  padding:30px;
}
.green {
  color:#339900;
}
.red {
  color:#FF0000;
}
.orange {
  color:#F60;
}
.gary{
  color:#ccc;
}
.gary9{
  color:#999;
}
.cb {
  clear:both;
}
.ml5 {
  margin-left:5px;
}
.ml10 {
  margin-left:10px;
}
.ml30 {
  margin-left:30px;
}
.mr5 {
  margin-right:5px;
}
.mr10 {
  margin-right:10px;
}
.mb10 {
  margin-bottom:10px;
}
.mt5 {
  margin-top:5px;
}
.pl0 {
  padding-left:0px;
}
.fr {
  float:right;
}
.fl {
  float:left;
}
.f12 {
  font-size:12px;
}
.f14 {
  font-size:14px;
}
.f16 {
  font-size:16px;
}
/* common */
#header {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e3e3e3;
    height: 75px;
    overflow: hidden;
    width: 100%;
	margin-left: auto;
    margin-right: auto;
}
#header-container {
    height: 75px;
    margin: 0 auto;
    position: relative;
    width: 990px;
}
#logo {
    background: url("/service/assets/img/logo2.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    margin-top: 6px;
    width: 280px;
    height: 62px;
}
#logo .header-title {
    color: #999;
    display: inline-block;
    float: left;
    font-size: 22px;
    height: 23px;
    line-height: 23px;
    margin-top: 20px;
}
#logo a {
    display: inline-block;
    float: left;
    height: 62px;
    overflow: hidden;
    text-indent: -999em;
    width: 178px;
}
a:link {
    text-decoration: none;
	font-size: 100%;
    font-weight: normal;
}
.clr:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.gray{
	color:#7c7c7c;
}
#navigation {
    float: right;
    font: 12px/75px Verdana,Arial,宋体,sans-serif;
    height: 75px;
}
.split {
    color: #ccc;
    margin: 0 6px;
}
.signin-container {
	max-width: 400px;
	_width:400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	padding-bottom: 40px;
	background-color:#ffffff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-align:center;
}
.signin-container .signin-heading{
	width:100%;
	font-size:28px;
}
.signin-container .check-word{
	margin-top:15px;
	font-size:12px;
	color:#666;
}
.signin-container .info{
	font-size:16px;
	color:#333333;
	margin-top:5px;
}
.signin-container .info .type{
	color:#ff6600;
}
.signin-container .ewm{
	width:300px;
	height:300px;
	margin-top:20px;
}

.play-progress{
	width:285px;
	height:28px;
	float:left;
}
.play-progress-number{
	float:left;
	margin-left:10px;
	margin-top:5px;
}



.foot{
	border-top:1px solid #CCC;
	width:100%;
	height:100px;
	margin-top:100px;
}