@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: "微软雅黑",Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}
body {
	background-color: #f8f8f8;
}
* {
	margin: 0;
	padding:0;

}

*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box; }

.clearfix:before,.clearfix:after{ content: ''; display:block;}
.clearfix:after { clear: both; }
ol, ul { list-style: none; }

.top{ width:100%; height:56px; background:#3f3f3f;}
.topcont{ width:1180px; margin:0 auto;}
.logo{ background:url(../img/logo.png); width:217px; height:56px; float:left; margin-right:30px;}
.nav{ float:left;}
.nav li{ list-style:none;  float:left;  color:#b3b3b3; font-size:16px; line-height:56px; text-align:center;}
.nav li a{display:block; width:118px; height:56px;}
.nav li a,.nav li a:link,.nav li a:visited{ text-decoration:none; color:#b3b3b3;}
.nav li a:hover,.nav li .active{ color:#fff; background:#262626; border-bottom:3px solid #db2507; height:56px; }
.clear{ clear:both;}
.fl{ float:left;}
.ml10{margin-left:10px;}
.ml30{margin-left:30px;}

.userInfo{float:right; color:#CCC; margin-top:15px;}
.userInfo span{ color:#db2507;}
.wapper{ width:1182px; margin:25px auto 0; height:595px;}
.lcps{ border:#e8e8e8 solid 1px; float:left; width:610px; overflow:auto; background:#fff;}
.dms{ border:#e8e8e8 solid 1px; border-left:none; float:left; width:566px; height:595px; background:#fff; }
.title1 { width:100%; height:53px; border-bottom:#e8e8e8 solid 1px; float:left; position:relative;}
.title1 img{ margin-left:15px; vertical-align:middle;}
.title1 .bt{ font-size:18px; color:#333; line-height:53px; vertical-align:middle; font-weight:bold; }
.ctlBtn {  top:8px; right:8px;  width:280px; position:absolute;}
.ctlBtn a{ float:left; margin-left:3px; text-align:center; line-height:35px;  height:35px; display:block; color:#fff; text-decoration:none;  }
.ctlBtn .set{ background:url(../img/btn01.png) ; width:113px; }
.ctlBtn .set:hover{ background-position:0 35px; }
.ctlBtn .restar{  background:url(../img/btn01.png) no-repeat scroll -116px 0px; width:76px; color:#db2507; }
.ctlBtn .restar:hover{background:url(../img/btn01.png) no-repeat scroll -116px -35px; color:#fff;}
.ctlBtn .close{  background:url(../img/btn01.png) no-repeat scroll -195px 0px;  width:74px; }
.ctlBtn .close:hover{  background:url(../img/btn01.png) no-repeat scroll -195px -35px;  width:74px; }
.player-box{ margin:65px auto 15px auto; width:426px; height:320px; text-align:center;}
.sourse{ width:100%; overflow:auto; padding:10px 0; background:#ebebeb; border-top:#e8e8e8 1px solid;}
.sourse li{ list-style:none; float:left; margin-left:16px;}
.first { margin-left:0;}
.sourse li a{ display:block; text-align:center; vertical-align:middle; text-decoration:none; border-radius:3px; cursor:pointer;}
.sourse li .tuila{ display:inline-block; background:#9c9c9c; color:#fff; width:68px; height:28px; line-height:26px;}
.sourse li .tuila:hover{ background:#666;}
.sourse li .sm{ display:inline-block; width:60px; height:28px; border:#db2507 1px solid; color:#db2507; line-height:24px; margin-left:3px;}
.sourse li .sm:hover{ background:#db2507; color:#fff;}
.sourse li .xz{ margin-top:6px; width:131px; height:36px; border:#9c9c9c solid 2px; font-size:18px; line-height:32px; }
.sourse li .xz:hover{ background:#9c9c9c; color:#fff; }
.sourse li .xzActive{  margin-top:6px; width:131px; height:36px; font-size:18px; line-height:36px; background:#db2507; color:#fff;}
.sourse li .ifActive{border:2px solid #F00;}
.open-box{ width:100%;height:194px; overflow:auto; background:#ffffff; border-top:#e8e8e8 1px solid;text-align:center;font-size:16px;}
.open-box img{width:61px;height:62px;border:0;}
.open-box .open-btn{display:block; text-align:center; vertical-align:middle; text-decoration:none; border-radius:3px; cursor:pointer; width:150px; height:35px; line-height:35px; font-size:18px; margin:20px auto;}
.open-box .opening{width:50%; margin:15px auto; font-size:14px; display:none;}
.open-box .opening .progress{margin:0 0 5px 0;}

.title2 { width:100%; height:53px; border-bottom:#e8e8e8 solid 1px; float:left; position:relative; background:#e5e5e5;}
.title2 .stop{ position:absolute; top:8px; right:10px; display:inline-block; width:80px; height:35px; border:#db2507 2px solid; color:#db2507; line-height:31px; display:block; text-align:center; vertical-align:middle; text-decoration:none; border-radius:3px; cursor:pointer; }
.title2 .stop:hover{ background:#db2507; color:#fff;}

.title2 .count{ height:26px; margin:15px 0 0 10px; float:left;}
.title2 .count span{ display:block; height:26px; float:left;}
.title2 .count  .icon{ vertical-align:middle; margin-left:20px;}
.title2 .count  .nub{ line-height:26px; color:#999; }
.chat{ margin-top:54px; height:487px; overflow:auto;}
.chat li{ margin:0 5px; list-style:none;  overflow:auto; padding:10px 20px; border-bottom:#e8e8e8 solid 1px;background:#ffffff;}
.chat .active{background:#f2f2f2;}
.chat .header{ float:left; margin-left:0;}
.chat .header img{ width:42px;height:42px;}
.chat .message{ width:auto; margin-left:50px;}
.chat .message .message-info{width:100%;height:25px;}
.chat .message .message-info .nick{ color:#0f0f0f; font-size:16px;float:left;}
.chat .message .message-info .date{ font-size:12px; color:#aaa;float:right;}
.chat .message .message-content{ font-size:13px;}
.chat .message-operate{ float:right; margin-top:5px; display:none;}
.chat .message-operate span{float:left; margin-left:4px; }

.btn{display:inline-block; text-align:center; vertical-align:middle; text-decoration:none; border-radius:3px; cursor:pointer; padding:0 4px 0 4px; height:23px; line-height:21px; font-size:12px;}
.btn2{display:inline-block; text-align:center; vertical-align:middle; text-decoration:none; border-radius:3px; cursor:pointer; width:78px; height:35px; line-height:35px; font-size:18px;}
.btnred{ background:#db2507; color:#fff;}
.btnred:hover{ background:#b11900; color:#fff;}
.btna{ background:#fff; color:#db2507; border:#db2507 solid 1px;}
.btna:hover{ background:#db2507; color:#fff; border:#db2507 solid 1px;}
.Tbtn {margin-top:4px; display:none;}
#fg{height:10px; width:100%;}
#footer{  width:100%; text-align:center;  height:50px; line-height:50px; color:#999; background:#e8e8e8; clear:both; font-size:12px; position:fixed; bottom:0; border-top:#ccc solid 1px;}
.cInput{width:100%; height:52px; background:#f6f6f6; border-top:#e8e8e8 solid 1px; padding-top:8px;}
.cInput span{ float:left; margin-left:10px;}
.emt{ background:url(../img/emot.png); width:36px; height:36px; display:block; cursor:pointer;}
.emt:hover{ background-position:0 36px; }
input[type="text"] { width:412px; height:35px; border:#dbdbdb 1px solid; border-radius:3px; color:#666; font-size:14px; font-family:"微软雅黑",Arial, Helvetica, sans-serif; padding-left:8px;}

.btn{padding:3px 10px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; }
.btn-big{text-align:center;  padding:5px 15px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; font-size:18px;}
.btn-red{background:#DB2507; color:#FFF; border:1px solid #DB2507;}
.btn-red:hover{ background:#b11900; color:#fff; border:1px solid #b11900;}
.btn-gary{background:#9c9c9c; color:#FFF; border:1px solid #9c9c9c;}
.btn-a{ background:#fff; color:#db2507; border:#db2507 solid 1px;}
.btn-a:hover{ background:#db2507; color:#fff; border:#db2507 solid 1px;}

.channel-info { width:100%; height:53px; margin:20px auto; background:#FFF; border:1px solid #e8e8e8; font-size: 15px; }
.channel-info p { margin-left:20px; width:auto; float:left; line-height:53px; }
.channel-info .activity{ margin-left:100px;}
.channel-info font { color:#999; }
.channel-info .share-btn { margin-left:10px; padding:3px 10px; background:#DB2507; color:#FFF; border:1px solid #DB2507; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; }
.channel-info .create-btn { margin-left:10px; padding:3px 10px; background:#DB2507; color:#FFF; border:1px solid #DB2507; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; }
.channel-info .close-btn { margin-left:10px; padding:3px 10px; background:#9c9c9c; color:#FFF; border:1px solid #9c9c9c; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; }

/*切换效果*/
.lcps .tabPanel{ }
.lcps .tab-title { width:100%; height:41px; }
.lcps .tab-title h1 { padding:10px 15px; font-family: "微软雅黑 Bold", "微软雅黑"; font-size: 18px; font-weight: 700; }
.lcps .tabPanel ul { height:29px; border-bottom:1px solid #D2D2D2; }
.lcps .tabPanel ul li { box-sizing:unset; float:left; margin:0 2px 0 10px; font-size:14px; height:29px; line-height:30px; width:102px; text-align:center; cursor:pointer; text-shadow:0 1px 0 #fff; border-radius:4px 4px 0 0; background:url(../img/u25.png) no-repeat }
.lcps .tabPanel .hit { box-sizing:unset; border-bottom:1px solid #fff; cursor:pointer; color:black; text-shadow:0 1px 0 #fff;  background:url(../img/u23.png) no-repeat }
.lcps .pane {  min-height:100px; background-color:#fff; display:none; }
.lcps .pane p { padding:1px 15px 0 10px; }
.lcps .pane h4 { padding:15px 15px 0 10px; font-size:14px; font-weight:bold; }
/*切换内容*/
.lcps-panes { width:100%; height:100%; background-color:#fff;}
.lcps-panes .fengexian { width:552px; height:1px; margin:0 auto; border-bottom:1px dashed #C9C9C9 }
.lcps-panes .liebiao { width:551px; height:189px; margin:20px auto; text-align:center; }
.lcps-panes .liebiao li { height:36px; line-height:36px }
.lcps-panes .liebiao #camList { height: 22px; width: 200px; }
.lcps-panes .liebiao #micList { height: 22px; width: 200px; }
.lcps-panes .liebiao #videoSize { height: 22px; width: 200px; }
.lcps-panes .liebiao .l_input { height: 22px; width: 200px; }
.lcps-panes .liebiao .shangm span { line-height:28px; font-size:18px }
.lcps-panes .lianjie { text-align:left }
.lcps-panes .lianjie input { width:284px; font-size:12px }
.lcps-panes .miaoshu { margin:10px 0; color:#868686; text-align:left }
.lcps-panes .fabuyd { width:568px; height:117px; background:#F8F8F8; border:1px solid #E4E4E4 }
.lcps-panes .fabuyd .fabuyd_l { width:51px; height:111px; margin:2px; background:#DB2507; float:left }
.lcps-panes .fabuyd .fabuyd_l p { width:24px; padding:8px 0 0 15px; color:#FFF; font-size:17px; font-weight:bold }
.lcps-panes .fabuyd .fabuyd_r { width:486px; float:right }
.lcps-panes .fabuyd .fabuyd_r li { text-align:left; font-size:12px; }
.lcps-panes .fabuyd .fabuyd_r li span { font-weight:bold; }
.lcps-panes .fabuyd .fabuyd_r li a { color:#6D99D5; }
.lcps-panes .fabuyd .fabuyd_r li a:hover { color:#6D99D5 }
.lcps-panes .fabuyd .fabuyd_r li a:visited { color:#6D99D5 }

.dlg-lock{width:100%; height: 100%; overflow: hidden;}
.dlg-mask{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; background:#000;filter:alpha(opacity=70);-moz-opacity:0.7; -khtml-opacity: 0.7;  opacity: 0.7;   z-index: 9998;}
.dlg{position:absolute; background:#FFF; border:1px solid #e8e8e8; padding:0; z-index:9999;}
.dlg .dlg-title-box{width:100%; height:42px; background:#f2f2f2; line-height:42px;}
.dlg .dlg-title-box .dlg-title{float:left; margin-left:20px; font-size:18px; color:444444;}
.dlg .dlg-title-box .dlg-close{float:right; margin-right:10px; font-size:16px; color:#999999; cursor:pointer;}
.dlg .dlg-body{width:85%; height:auto; margin:25px auto;}
.dlg .dlg-body .dlg-label{font-size:14px; color:#333333;}
.dlg .dlg-body .dlg-form-lable{margin:2px 0 8px 0; overflow:hidden;}
.dlg .dlg-body input{width:100%;height:25px;border:1px solid #e8e8e8; background:#ffffff; font-size:14px;-webkit-appearance:none;resize:none;}
.dlg .dlg-body select{width:100%;height:25px;border:1px solid #e8e8e8; background:#ffffff; font-size:14px;-webkit-appearance:none;resize:none;}
.dlg .dlg-btn-box{width:190px; height:40px; margin:30px auto;}

/*progress*/
.progress {
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.progress .bar {
    background-color: #0e90d2;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress .bar + .bar {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
.progress-striped .bar {
    background-color: #149bdf;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress-danger .bar, .progress .bar-danger {
    background-color: #dd514c;
    background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
    background-color: #ee5f5b;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar, .progress .bar-success {
    background-color: #5eb95e;
    background-image: linear-gradient(to bottom, #62c462, #57a957);
    background-repeat: repeat-x;
}
.progress-success.progress-striped .bar, .progress-striped .bar-success {
    background-color: #62c462;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar, .progress .bar-info {
    background-color: #4bb1cf;
    background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
    background-repeat: repeat-x;
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
    background-color: #5bc0de;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar, .progress .bar-warning {
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
    background-color: #fbb450;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
