@charset "utf-8";
/*================userlist=================*/

a{ color:#000; text-decoration:none}
.user_con { width:1173px; margin:50px auto; border:1px solid #E4E4E4; background: #fff }
.user_con_tt { height:65px }
.user_con_tt h1 { width: 224px; margin: 25px 0 0 60px; float:left; color: #1b1b1b; font-family: "微软雅黑 Bold", "微软雅黑"; font-size: 19px; font-weight: 700; }
.user_con_tt form { width:310px; margin-top:25px; float:right }
.user_con_tt form .usersearch { width:250px; height:30px; line-height:30px; float:left; font-size: 1.2em}
.user_con_tt form .search_btn{ width: 40px; height: 30px;  cursor: pointer;}
.fgx { width:1126px; margin:0 auto; border-bottom:1px solid #F2F2F2 }
.user_con_bt { width:1000px; margin:10px auto; font-weight:bold }
.user_con_bt #user_input { color: #000000; font-family: "微软雅黑"; font-size: 14px; font-style: normal; font-weight: normal; height: 22px; text-decoration: none; width: 200px; }
.tabList { width:1000px; margin:0 auto }
.tabList ul { height:42px; border-bottom:1px solid #E4E4E4 }
.tabList ul li { width:140px; margin:10px 20px 0 0; padding-bottom:5px; float:left; font-size:20px; font-weight:bold; text-align:center;  }
.tabList ul li a{cursor:pointer}
.tabList ul .hit { border-bottom:2px solid #FF0000 }

.listcon{width:998px; margin:20px auto 30px; border:1px solid #E4E4E4}
.listbt{ height:55px; margin:0px auto 0;background:#F4F5F9; border-bottom:1px solid #E4E4E4}
.listbt ul li{ width:198px; padding-top:20px; font-size:15px; font-weight:800; text-align:center; float:left}

.tlists { width:1000px; margin:0px auto;font-size: 62.5%;}
.tlist .listnr{ font-size: 1.4em}
.tlist .listnr li{width:998px; height:60px; padding:5px 0; border-bottom: 1px solid #E4E4E4;  overflow:hidden}
.tlist .listnr li p{ width:198px; float:left; line-height:50px; overflow: hidden; text-align:center}
.tlist .listnr li .p5{ width:280px; float:left; line-height:50px; text-align:left}
.tlist .listnr li p .checkbox{ float:left; margin:20px 0 0 40px}
.tlist .listnr li p .img{ margin-left:10px; float:left; width: 48px; height: 50px;}
.tlist .listnr li p img{ width: 48px; height: 45px;}
.tlist .listnr li p font { width:70px; overflow: hidden; margin-left:10px; float:left; line-height:50px}
.tlist .jy{ padding:5px 12px; border:1px solid #DB2507; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; font-size:1.2em; color:#DB2507; cursor:pointer;}
.tlist .lh{ padding:5px 12px; border:1px solid #DB2507; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; font-size:1.2em; color:#DB2507; cursor:pointer; }
.tlist .swgl{ padding:5px 12px; border:1px solid #DB2507; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; font-size:1.2em; color:#DB2507; cursor:pointer}
.tlist .jcjy{ padding:5px 12px; border:1px solid #DB2507; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; font-size:1.2em; color:#DB2507; cursor:pointer}
.tlist .jchmd{ padding:5px 12px; border:1px solid #DB2507; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; font-size:1.2em; color:#DB2507; cursor:pointer}
.tlist .tlist_db{width:998px; height:50px; padding:10px 0 0; overflow:hidden; font-size: 1.4em}
.tlist .tlist_db .tlist_db_p1 { width:180px; height:38px; margin-left:35px; line-height:38px; float:left}
.tlist .tlist_db .tlist_db_p1 span{ margin-left:10px}
.tlist .tlist_db .tlist_db_p2{ width:300px; height:38px; float:right;}
.tlist .tlist_db .tlist_db_p2 .pagelist{ height: 38px; margin:6px 0 37px 0; overflow: hidden;}
.tlist .tlist_db .tlist_db_p2 .pagelist li{display: inline; float: left; margin: 0 3px; border: 1px solid #bdbdbd; display: block; padding: 5px 8px;}
.tlist .tlist_db .tlist_db_p2 .pagelist li a:hover{ background:#F16531}
