.dms {
  border: #e8e8e8 solid 1px;
  border-left: none;
  float: left;
  width: 566px;
  height: 595px;
}
.dms-cb {
  clear: both;
}
.dms-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
}
.dms-container ol, .dms-container ul {
  list-style: none;
}
.dms-container .dms-title {
  width: 100%;
  height: 53px;
  border-bottom: #e8e8e8 solid 1px;
  position: relative;
  background: #e5e5e5;
  position: absolute;
  top: 0px;
}
.dms-container .dms-title .stop {
  position: absolute;
  top: 8px;
  right: 10px;
  display: inline-block;
  border: #db2507 2px solid;
  color: #db2507;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 12px;
  line-height: 20px;
}
.dms-container .dms-title .stop:hover {
  background: #db2507;
  color: #fff;
}
.dms-container .dms-title .close {
  position: absolute;
  top: 8px;
  right: 100px;
  display: inline-block;
  border: #db2507 2px solid;
  color: #db2507;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 12px;
  line-height: 20px;
}
.dms-container .dms-title .close:hover {
  background: #db2507;
  color: #fff;
}
.dms-container .dms-title .count {
  height: 26px;
  margin: 15px 0 0 10px;
  float: left;
}
.dms-container .dms-title .count span {
  display: block;
  height: 26px;
  float: left;
}
.dms-container .dms-title .count  .icon {
  vertical-align: middle;
  margin-left: 20px;
}
.dms-container .dms-title .count  .nub {
  line-height: 26px;
  color: #999;
}
.dms-container .dms-message-container {
  position: absolute;
  top: 53px;
  bottom: 60px;
  width: 100%;
  overflow: hidden;
  height: auto !important;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dms-container .dms-message-container ul {
  margin: 0;
  padding: 0;
}
.dms-container .dms-message-container li {
  margin: 0 5px;
  list-style: none;
  overflow: auto;
  padding: 10px 20px;
  border-bottom: #e8e8e8 solid 1px;
  background: #ffffff;
  word-break:break-all;
  word-wrap:break-word;
}
.dms-container .dms-message-container .active {
  background: #f2f2f2;
}
.dms-container .dms-message-container .dms-header {
  float: left;
  margin-left: 0;
}
.dms-container .dms-message-container .dms-header img {
  width: 42px;
  height: 42px;
}
.dms-container .dms-message-container .message {
  width: auto;
  margin-left: 50px;
}
.dms-container .dms-message-container .message .message-info {
  width: 100%;
  height: 25px;
}
.dms-container .dms-message-container .message .message-info .nick {
  color: #0f0f0f;
  font-size: 16px;
  float: left;
}
.dms-container .dms-message-container .message .message-info .date {
  font-size: 12px;
  color: #aaa;
  float: right;
}
.dms-container .dms-message-container .message .message-content {
  font-size: 13px;
}
.dms-container .dms-message-container .message .dms-areward{
  font-weight: bold;
  color:#FF3935;
}
.dms-container .dms-message-container .message-operate {
  float: right;
  margin-top: 5px;
  display: none;
}
.dms-container .dms-message-container .message-operate span {
  float: left;
  margin-left: 4px;
}
.dms-container .dms-message-container .message-operate .operate-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 4px 0 4px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  background: #fff;
  color: #db2507;
  border: #db2507 solid 1px;
}
.dms-container .dms-message-container .message-operate .operate-btn:hover {
  background: #db2507;
  color: #fff;
  border: #db2507 solid 1px;
}
.dms-container .dms-message-container .message-operate .remove-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 4px 0 4px;
  height: 23px;
  line-height: 21px;
  font-size: 12px;
  background: #db2507;
  color: #fff;
}
.dms-container .dms-message-container .message-operate .remove-btn:hover {
  background: #b11900;
  color: #fff;
}
.dms-container .dms-send-container {
  width: 100%;
  height: 52px;
  background: #f6f6f6;
  border-top: #e8e8e8 solid 1px;
  padding-top: 8px;
  position: absolute;
  bottom: 0px;
}
.dms-container .dms-send-container .emt {
  background: url(img/emot.png);
  width: 36px;
  height: 36px;
  display: block;
  cursor: pointer;
  float: left;
  margin-left: 10px;
}
.dms-container .dms-send-container .emt:hover {
  background-position: 0 36px;
}
.dms-container .dms-send-container .dms-textarea-container {
  width: auto;
  margin-left: 57px;
  *margin-left: 2px;
  _margin-left: 2px;
  margin-right: 107px;
  height: 35px;
}
.dms-container .dms-send-container .dms-textarea-container input {
  border: #dbdbdb 1px solid;
  border-radius: 3px;
  color: #666;
  font-size: 14px;
  padding: 0;
  padding-left: 8px;
  position: relative;
  margin: 0;
  width: 100%;
  height: 34px;
  resize: none;
  overflow: auto;
  background: #fff;
  font-size: 16px;
  -moz-border-radius: 3px;      /* Gecko browsers */
  -webkit-border-radius: 3px;   /* Webkit browsers */
  border-radius: 3px;            /* W3C syntax */
}
.dms-container .dms-publish-btn {
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  width: 78px;
  height: 36px;
  line-height: 35px;
  font-size: 18px;
  background: #db2507;
  color: #fff;
  float: right;
  margin-right: 10px;
}
.dms-container .dms-publish-btn:hover {
  background: #b11900;
  color: #fff;
}