html{
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
body{
	width:100%;
	margin:0;
	padding:0;
	font-family:"Microsoft Yahei","微软雅黑","宋体",Helvetica, Arial, sans-serif;
	color:#333;
	width:100%;
	font-size:1em;
	overflow:hidden;
}
a, a:visited, a:hover, a:link {
    text-decoration: none;
}
a.blue,a.blue:visited,a.blue:hover,a.blue:link {
	color:#28B9FF;
}
a.write,a.write:visited,a.write:hover,a.write:link {
	color:#ffffff;
}
.blue{
	color:#28B9FF;
}
.help-container{
	
}
.help-container a,.help-container a:visited,.help-container a:hover,.help-container a:link {
	color:#28B9FF;
}
.clear{
	clear:both;
}
.gary9{
	color:#999;
}
.orange{
	color:#ff6600;
}
.button{
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    float: none;
	line-height: 20px;
	cursor: pointer;
	border: medium none;
    font-size: 5vw;
    letter-spacing: 2px;
    margin-top: 0.5em;
    padding:8px 0px 8px 0px;
    text-transform: uppercase;
    width: 90%;
	-webkit-appearance:none;
	margin-bottom:2vw;
}
.button-small{
    border-radius: 3px;
    color: #fff;
    display: inline-block;
	line-height: 4vw;
    float: none;
	cursor: pointer;
	border: medium none;
    font-size: 4vw;
    padding:1.5vw 4vw 1.5vw 4vw;
    text-transform: uppercase;
	text-align:center;
	-webkit-appearance:none;
}
a.button,a.button:visited,a.button:hover,a.button:link {
	color:#ffffff;
}
a.button-small,a.button-small:visited,a.button-small:hover,a.button-small:link {
	color:#ffffff;
}
.button-green{
    background-color: #51c051;
}
.button-orange{
    background-color: #ff6600;
}
.button-blue{
    background-color: #00a0f8;
}
.button-search{
	background:#e6e6e6;
	border:none;
	color:#999;
}
.button-gary{
	background:#f2f2f2;
	border:1px solid #CCC;
	color:#666;
}
a.button-gary,a.button-gary:visited,a.button-gary:hover,a.button-gary:link {
	color:#666;
}
.form-container{
	position:relative;
	margin-left:5%;
	margin-top:20px;
}
.form-container input,select{
	font-size:1em;
}
.form-container .button{
	font-size:1.4em;
}
.add-carousel-container{
	width:100%;
	overflow:hidden;
}
.add-carousel-container .add-button{
	width:30%;
	height:14.6vw;
	border:1px solid #999;
	background:#EEE;
	font-size:10vw;
	color:#999;
	vertical-align:middle;
	text-align:center;
	margin-right:2vw;
	float:left;
	line-height:14.6vw;
}
.add-carousel-container .carousel-img{
	width:30%;
	height:14.6vw;
	margin-right:2vw;
	float:left;
	overflow:hidden;
	border:1px solid #ccc;
	position:relative;
}
.add-carousel-container .carousel-img img{
	width:100%;
}
.livestream-video-list-container{
	width:90%;
	height:auto;
	overflow:hidden;
	position:relative;
}
.livestream-video-list-container .video-add{
	width:45%;
	height:18.58vw;
	border:1px solid #999;
	background:#EEE;
	font-size:10vw;
	color:#999;
	vertical-align:middle;
	text-align:center;
	margin-left:2.6vw;
	margin-top:2.6vw;
	float:left;
	position:relative;
	padding-top:4vw;
}
.livestream-video-list-container .video-info{
	width:45%;
	height:22.58vw;
	border:1px solid #999;
	margin-left:2.6vw;
	margin-top:2.6vw;
	float:left;
	overflow:hidden;
}
.livestream-video-list-container .video-info img{
	width:100%;
}
.video-img-container{
	width:100%;
}
.video-img-container .video-add-button{
	width:45%;
	height:18.58vw;
	border:1px solid #999;
	background:#EEE;
	font-size:10vw;
	color:#999;
	vertical-align:middle;
	text-align:center;
	margin-left:2.6vw;
	margin-top:2.6vw;
	position:relative;
	padding-top:4vw;
}
.video-img-container .video-img{
	width:45vw;
	height:22.58vw;
	border:1px solid #999;
	overflow:hidden;
}
.video-img-container .video-img img{
	width:100%;
}



.result-container{
	width:100%;
	height:20vw;
	position:relative;
}
.result-container .success-icon{
	background:url(../images/success-icon.png);
	width:10vw;
	height:10vw;
	background-size:contain;
	float:left;
	margin-top:5vw;
	margin-left:5vw;
}
.result-container .result-info{
	float:left;
	margin-left:4vw;
	margin-top:7vw;
	color:#00a0f8;
	font-size:6vw;
}

.publish-info-container{
	width:100%;
	height:auto;
	background:#fff;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:0vw 2vw 2vw 4vw;
	line-height:4vw;
	margin-bottom:4vw;
}
.publish-info-container .info-title{
	font-size:5vw;
	color:#000;
}
.publish-info-container .info-desc{
	font-size:4vw;
	color:#999;
}
.publish-info-container .info-desc input{
	width:90%;
	font-size:4.5vw;
	color:#999;
	-webkit-appearance:none;
	resize:none;
	overflow:auto;
	border:1px solid #CCC;;
	background:#fff;
}
.publish-info-container .info-desc textarea{
	width:90%;
	height:20vw;
	font-size:4.5vw;
	color:#999;
	-webkit-appearance:none;
	resize:none;
	overflow:auto;
	border:1px solid #CCC;;
	background:#fff;
}
.publish-info-container .info-desc select{
	border-radius: 4px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 70%;
}
.publish-info-container .info-desc .show-url{
	width:68%;
	height:7vw;
	float:left;
}
.publish-info-container .line{
	border-bottom:1px solid #CCC;
	width:92%;
}
.publish-info-container .help a,.publish-info-container .help a:visited,.publish-info-container .help a:hover,.publish-info-container .help a:link {
	color:#00a0f8;
}
.video-list-container{
	width:90%;
	text-align:left;
	position:relative;
}
.video-list-container .attr{
	padding-bottom:4vw;
}
.video-list-container .attr .attr-info{
	line-height:6vw;
	margin-top:2vw;
}
.video-list-container .attr .attr-name{
	display:block;
	float:left;
	font-size:4vw;
}
.video-list-container .attr .attr-box-hover{
	float:left;
	display:block;
	width:18vw;
	height:6.5vw;
	border:1px solid #ff5000;
	font-size:3.5vw;
	border-radius:3px;
	line-height:6.5vw;
	text-align:center;
	color:#333;
	margin-right:2vw;
}
.video-list-container a.attr-box-hover,.video-list-container a.attr-box-hover:hover,.video-list-container a.attr-box-hover:visited,.video-list-container a.attr-box-hover:link{
	color:#333;
}
.video-list-container .attr .attr-box{
	float:left;
	display:block;
	width:18vw;
	height:6.5vw;
	border:1px solid #D0D0D0;
	font-size:3.5vw;
	border-radius:3px;
	line-height:6.5vw;
	text-align:center;
	color:#8F8F8F;
	margin-right:2vw;
}
.video-list-container a.attr-box,.video-list-container a.attr-box:hover,.video-list-container a.attr-box:visited,.video-list-container a.attr-box:link{
	color:#8F8F8F;
}
.video-list{
	border-top:1px solid #ccc;
	width:100%;
	position:relative;
}
.video-list .video-info{
	width:100%;
	position:relative;
	padding:4vw 2vw;
	border-bottom:1px solid #ccc;
}
.video-list .video-info .video-pic{
	float:left;
	width:28vw;
	height:16vw;
	overflow:hidden;
}
.video-list .video-info .video-pic img{
	width:28vw;
	height:16vw;
	overflow:hidden;
}
.video-list .video-info .video-desc{
	float:left;
	margin-left:2vw;
	font-size:3vw;
	width:37vw;
	height:16vw;
}
.video-list .video-info .video-desc div{
	width:100%;
	height:5vw;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.video-list .video-info .video-opeater{
	float:left;
	margin-left:2vw;
	width:18vw;
	height:16vw;
}
.video-upload-container{
	width:95%;
	height:auto;
	margin:auto;
	margin-top:5vw;
	position:relative;
}
.video-upload-container .video-upload-menu{
	width:100%;
	height:10vw;
	background:#f8f8f8;
	border-radius:7px;
	border:1px solid #ccc;
}
.video-upload-container .video-upload-menu .video-upload-box{
	width:49%;
	height:10vw;
	border-right:1px solid #ccc;
	float:left;
	text-align:center;
	font-size:4vw;
	line-height:10vw;
}
.video-upload-container .video-upload-menu .video-change-box{
	width:49%;
	height:10vw;
	float:left;
	text-align:center;
	font-size:4vw;
	line-height:10vw;
}
.video-upload-container .change-list-container{
	width:100%;
	display:none;
}
.video-upload-container .change-list-container .qtitle{
	font-size:3.3vw;
}
.video-upload-container .change-list{
	width:100%;
	text-align:center;
	margin-top:2vw;
}
.video-upload-container .change-list td{
	height:8vw;
	font-size:4vw;
}
.video-upload-container .change-list .table-header{
	font-size:3.5vw;
	color:#666;
}
.video-upload-container .change-list .table-header td{
	border-bottom:1px solid #ccc;
}
.qtitle{
	font-size:3.3vw;
}

.app-list-container{
	margin:0 auto;
	width:100%;
	min-height:80%;
	text-align:left;
	position:relative;
	background:#ffffff;
	border-bottom:1px solid #ccc;
}
.app-list-container .title{
	font-size:5vw;
	border-bottom:1px solid #ccc;
	padding:2vw 0 2vw 0;
	width:90%;
	margin:0 auto;
}
.app-list-container .title2{
	padding:2vw 0 2vw 0;
	font-size:4vw;
	color:#000;
	width:90%;
	margin:auto;
}
.app-list-container .app-list{
	width:100%;
	text-align:center;
	width:90%;
	margin:auto;
	font-size:4vw;
}
.app-list-container .app-list td{
	height:8vw;
}
.app-list-container .app-list .head td{
	height:8vw;
	color:#666;
	background:#f2f2f2;
}