.dms-cb{
	clear:both;
}
.dms-container{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:relative;
	clear:both;
	overflow:hidden;
	font-size:16px;
	color:#676767;
	font-family:'Microsoft YaHei','微软雅黑';
	background:#fff;
}
.dms-container input{
	font-family:'Microsoft YaHei','微软雅黑';
}
#dmsMessage{
	width:100%;
	height:auto;
	position:relative;
}
.dmsSystemMessage{
	width:100%;
	font-size:14px;
	text-align:center;
	line-height:16px;
	color:#FF3300;
}
.dms-message-container{
	position:absolute;
	top:0px;
	bottom:40px;
	width:100%;
	overflow:hidden;
	height:auto!important;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	background:#ffffff;
}

.dms-message-container .dms-message-info{
	width:100%;
	height:auto;
	border-bottom:1px solid #e8e9eb;
}
.dms-message-container .dms-message-info .dms-user-info{
	text-align:center;
	float:left;
	width:70px;
}
.dms-message-container .dms-message-info .dms-user-info .dms-ava{
	margin-top:10px;
	margin-bottom:10px;
}
.dms-message-container .dms-message-info .dms-user-info .dms-ava img{
	border:none;
	width:40px;
	height:40px;
}
.dms-message-container .dms-message-info .dms-content{
	width:auto;
	height:auto;
	margin-left:70px;
	word-wrap:break-word;
}
.dms-message-container .dms-message-info .dms-header{
	color:#ccc;
	position:relative;
	height:33px;
}
.dms-message-container .dms-message-info .dms-nick{
	position:absolute;
	left:0px;
	top:5px;
	width:50%;
	display:inline;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#1398e2;
}
.dms-message-container .dms-message-info .dms-nick a{
	color:#1398e2;
	text-decoration:none;
}
.dms-message-container .dms-message-info .dms-time{
	position:absolute;
	right:10px;
	top:5px;
	display:inline;
	color:#999;
}
.dms-message-container .dms-message-info .dms-areward{
	font-weight: bold;
	color:#FF3935;
}

.dms-send-container{
	position:absolute;
	bottom:0px;
	width:100%;
	height:40px;
	color:#000000;
	overflow:hidden;
	background:#FAFAFA;
	border-top:1px solid #ccc;
}

.dms-send-container-hover{
	position:fixed;
	bottom:0px;
	z-index:9999;
}

.dms-send-container .dms-le-container{
	float:left;
	width:42px;
	height:100%;
}
.dms-le-container .dms-login-button{
	float:left;
	width:32px;
	height:32px;
	margin:4px 7px 5px 7px;
}
.dms-le-container .dms-expression-button{
	width:32px;
	height:32px;
	margin:4px 0px 5px 0px;
}
.dms-send-container .dms-button-container{
	float:right;
	width:70px;
	height:100%;
}
.dms-button-container input{
	font-size:16px;
	border:none;
	color:#ffffff;
    background:#2699ea;
	padding:3px;
	width:60px;
	height:30px;
	cursor:pointer;
    margin-top:4px;
    margin-left:4px;
	border-radius:4px;
	-webkit-appearance:none;
}
.dms-send-container .dms-textarea-container{
	height:100%;
	width:auto;
	margin-left:42px;
	margin-right:70px;
	padding:5px;
}
.dms-textarea-container .dms-textarea-box{
	width:100%;
	height:28px;
}
.dms-textarea-container input{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:28px;
	resize:none;
	overflow:auto;
	border:1px solid #CCC;
	background:#fff;
	color:#676767;
	font-size:16px;
	-moz-border-radius:5px;      /* Gecko browsers */
    -webkit-border-radius:5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.dms-body-style{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	z-index:0;
	overflow:hidden;
}
.dms-login-mask{
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
	width:100%;
	height:100%;
	background:#000000;
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:998;
}
.dms-login-container{
	width:90%;
	height:265px;
	background:#FFFFFF;
	border:1px solid #ccc;
	position:fixed;
	top:50%; 
	margin-top:-125px;
	left:5%;
	z-index:999;
	-moz-border-radius:15px;      /* Gecko browsers */
    -webkit-border-radius:15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
	color:#666;
	font-family:'Microsoft YaHei','微软雅黑';
	display:none;
}
.dms-login-container input{
	font-family:'Microsoft YaHei','微软雅黑';
	-webkit-appearance:none;
}
.dms-login-header{
	width:100%;
    height:40px;
    border-bottom:1px solid #CCC;
    text-align:center;
    position:relative;
}
.dms-login-header .dms-login-text{
	margin-top:10px; font-size:24px;
}
.dms-login-header .dms-login-x{
	position:absolute;
    right:5px;
    top:-5px;
    font-family:'宋体';
    font-size:36px;
    color:#999;
    border:none;
    background:#ffffff;
}
.dms-login-body{
	width:100%;
    height:145px;
    text-align:center;
    font-size:20px;
}
.dms-login-body .dms-loigin-welcome{
	margin-top:20px;
}
#dmsUserNick{
	color:#999;
}
.dms-login-body .dms-login-qq-icon{
	margin-top:10px;
    width:60px;
    height:60px;
	background:url('qqA.png');
}
.dms-login-body .dms-login-qq-button{
	font-size:20px;
    color:#999;
    border:none;
    margin-top:5px;
    background:#ffffff;
}
.dms-login-footer{
	width:100%;
    height:50px;
    border-top:1px solid #CCC;
    text-align:center;
}
.dms-login-footer .dms-login-cancel{
	font-size:24px;
    color:#22a5e5;
    width:90%;
    border:none;
    margin-top:5px;
    background:#ffffff;
}
.dms-input-mask{
	width:100%;
	height:100%;
	background:#ffffff;
	position:absolute;
	top:0;
	left:0;
	z-index:998;
}
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

.swiper-container {
  height: 150px;
  width:320px;
}
.content-slide {
  padding: 20px;
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:3px;
  width: 100%;
  z-index: 1;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}



.qq_face ,.qq_face li{
		list-style: none;
}
.qq_face li{
		overflow: hidden;
		display: inline-block;
		width: 14.28%;
		float: left;
}
.qq_face {
	background-color: #F6FBFE;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.qq_face i {
    background: rgba(0, 0, 0, 0) url("bigqqface1.png") no-repeat scroll 0 0;   
    cursor: pointer;
    display: inline-block;
    font-size: 0;  
    width: 31px;
    height: 31px;
    background-size: 217px;  
	background-repeat: no-repeat;
	
}


.qq_face .qqface1 {
   background-position: 0 0;
}
.qq_face .qqface2 {
    background-position: -31px 0;
}
.qq_face .qqface3 {
    background-position: -62px 0;
}
.qq_face .qqface4 {
    background-position: -93px 0;
}
.qq_face .qqface5 {
    background-position: -124px 0;
}
.qq_face .qqface6 {
    background-position: -155px 0;
}
.qq_face .qqface7 {
    background-position: -186px 0;
}
.qq_face .qqface8 {
    background-position: 0 -31px;
}
.qq_face .qqface9 {
    background-position: -31px -31px;
}
.qq_face .qqface10 {
    background-position: -62px -31px;
}
.qq_face .qqface11 {
    background-position:-93px -31px;
}
.qq_face .qqface12 {
    background-position: -124px -31px;
}
.qq_face .qqface13 {
    background-position:-155px -31px;
}
.qq_face .qqface14 {
    background-position: -186px -31px;
}
.qq_face .qqface15 {
    background-position: 0px -62px;
}
.qq_face .qqface16 {
    background-position:-31px -62px;
}
.qq_face .qqface17 {
    background-position: -62px -62px;
}
.qq_face .qqface18 {
    background-position: -93px -62px;
}
.qq_face .qqface19 {
    background-position: -124px -62px;
}
.qq_face .qqface20 {
    background-position: -155px -62px;
}
.qq_face .qqface21 {
    background-position: -186px -62px;
}
.qq_face .qqface22 {
    background-position: 0 -93px;
}
.qq_face .qqface23 {
    background-position: -31px -93px;
}
.qq_face .qqface24 {
    background-position: -62px -93px;
}
.qq_face .qqface25 {
    background-position: -93px -93px;
}
.qq_face .qqface26 {
    background-position: -124px -93px;
}
.qq_face .qqface27 {
    background-position: -155px -93px;
}
.qq_face .qqface28 {
    background-position: -186px -93px;
}
.qq_face .qqface29 {
    background-position: 0 -124px;
}
.qq_face .qqface30 {
    background-position: -31px -124px;
}
.qq_face .qqface31 {
    background-position: -62px -124px;
}
.qq_face .qqface32 {
    background-position: -93px -124px;
}
.qq_face .qqface33 {
    background-position: -124px -124px;
}
.qq_face .qqface34 {
    background-position: -155px -124px;
}
.qq_face .qqface35 {
    background-position: -186px -124px;
}
.qq_face .qqface36 {
    background-position: 0 -155px;
}
.qq_face .qqface37 {
    background-position: -31px -155px;
}
.qq_face .qqface38 {
    background-position: -62px -155px;
}
.qq_face .qqface39 {
    background-position: -93px -155px;
}
.qq_face .qqface40 {
    background-position: -124px -155px;
}
.qq_face .qqface41 {
    background-position: -155px -155px;
}
.qq_face .qqface42 {
    background-position: -186px -155px;
}
.qq_face .qqface43 {
    background-position: 0 -186px;
}
.qq_face .qqface44 {
    background-position: -31px -186px;
}
.qq_face .qqface45 {
    background-position: -62px  -186px;
}
.qq_face .qqface46 {
    background-position: -93px -186px;
}
.qq_face .qqface47 {
    background-position: -124px -186px;
}
.qq_face .qqface48 {
    background-position: -155px -186px;
}
.qq_face .qqface49 {
    background-position: -186px -186px;
}
.qq_face .qqface50 {
    background-position: 0 -217px;
}
.qq_face .qqface51 {
    background-position: -31px -217px;
}
.qq_face .qqface52 {
    background-position: -62px -217px;
}
.qq_face .qqface53 {
    background-position: -93px -217px;
}
.qq_face .qqface54 {
    background-position: -124px -217px;
}
.qq_face .qqface55 {
    background-position: -155px -217px;
}
.qq_face .qqface56 {
    background-position: -186px -217px;
}
.qq_face .qqface57 {
    background-position: 0 -248px;
}
.qq_face .qqface58 {
    background-position: -31px -248px;
}
.qq_face .qqface59 {
    background-position: -62px -248px;
}
.qq_face .qqface60 {
    background-position: -93px -248px;
}
.qq_face .qqface61 {
    background-position: -124px -248px;
}
.qq_face .qqface62 {
    background-position: -155px -248px;
}
.qq_face .qqface63 {
    background-position: -186px -248px;
}
.qq_face .qqface64 {
    background-position: 0 -279px;
}
.qq_face .qqface65 {
    background-position: -31px -279px;
}
.qq_face .qqface66 {
    background-position: -62px -279px;
}
.qq_face .qqface67 {
    background-position: -93px -279px;
}
.qq_face .qqface68 {
    background-position: -124px -279px;
}
.qq_face .qqface69 {
    background-position: -155px -279px;
}
.qq_face .qqface70 {
    background-position: -186px -279px;
}
.qq_face .qqface71 {
    background-position: 0 -310px;
}
.qq_face .qqface72 {
    background-position: -31px -310px;
}
.qq_face .qqface73 {
    background-position: -62px -310px;
}
.qq_face .qqface74 {
    background-position: -93px -310px;
}
.qq_face .qqface75 {
    background-position: -124px -310px;
}
.qq_face .qqface76 {
    background-position: -155px -310px;
}
.qq_face .qqface77 {
    background-position: -186px -310px;
}
.qq_face .qqface78 {
    background-position: 0 -341px;
}
.qq_face .qqface79 {
    background-position: -31px -341px;
}
.qq_face .qqface80 {
    background-position: -62px -341px;
}
.qq_face .qqface81 {
    background-position: -93px -341px;
}
.qq_face .qqface82 {
    background-position: -124px -341px;
}
.qq_face .qqface83 {
    background-position: -155px -341px;
}
.qq_face .qqface84 {
    background-position: -186px -341px;
}
.qq_face .qqface85 {
    background-position: 0 -372px;
}
.qq_face .qqface86 {
    background-position: -31px -372px;
}
.qq_face .qqface87 {
    background-position: -62px -372px;
}
.qq_face .qqface88 {
    background-position: -93px -372px;
}
.qq_face .qqface89 {
    background-position: -124px -372px;
}
.qq_face .qqface90 {
    background-position: -155px -372px;
}
.qq_face .qqface91 {
    background-position: -186px -372px;
}
.qq_face .qqface92 {
    background-position: 0 -403px;
}
.qq_face .qqface93 {
    background-position: -31px -403px;
}
.qq_face .qqface94 {
    background-position: -62px -403px;
}
.qq_face .qqface95 {
    background-position: -93px -403px;
}
.qq_face .qqface96 {
    background-position: -124px -403px;
}
.qq_face .qqface97 {
    background-position: -155px -403px;
}
.qq_face .qqface98 {
    background-position: -186px -403px;
}
.qq_face .qqface99 {
    background-position: 0 -434px;
}
.qq_face .qqface100 {
    background-position: -31px -434px;
}
.qq_face .qqface101 {
    background-position: -62px -434px;
}
.qq_face .qqface102 {
    background-position: -93px -434px;
}
.qq_face .qqface103 {
    background-position: -124px -434px;
}
.qq_face .qqface104 {
    background-position: -155px -434px;
}
.qq_face .qqface105 {
    background-position: -186px -434px;
}