.dms-cb{
	clear:both;
}
.dms-container{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:relative;
	clear:both;
	overflow:hidden;
	font-size:14px;
	color:#676767;
	font-family:'Microsoft YaHei','微软雅黑';
	background:#fff;
}
.dms-container input{
	font-family:'Microsoft YaHei','微软雅黑';
}
#dmsMessage{
	width:100%;
	height:auto;
	position:relative;
}
.dmsSystemMessage{
	width:100%;
	font-size:14px;
	text-align:center;
	line-height:16px;
	color:#FF3300;
}
.dms-message-container{
	position:absolute;
	top:0px;
	bottom:40px;
	width:100%;
	overflow:hidden;
	height:auto!important;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	background:#ffffff;
}

.dms-message-container .dms-message-info{
	width:100%;
	height:auto;
	border-bottom:1px solid #e8e9eb;
}
.dms-message-container .dms-message-info .dms-user-info{
	text-align:center;
	float:left;
	width:70px;
}
.dms-message-container .dms-message-info .dms-user-info .dms-ava{
	margin-top:10px;
	margin-bottom:10px;
}
.dms-message-container .dms-message-info .dms-user-info .dms-ava img{
	border:none;
	width:40px;
	height:40px;
}
.dms-message-container .dms-message-info .dms-content{
	width:auto;
	height:auto;
	margin-left:70px;
	word-wrap:break-word;
}
.dms-message-container .dms-message-info .dms-header{
	color:#ccc;
	position:relative;
	height:33px;
}
.dms-message-container .dms-message-info .dms-nick{
	position:absolute;
	left:0px;
	top:5px;
	width:50%;
	display:inline;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#1398e2;
}
.dms-message-container .dms-message-info .dms-nick a{
	color:#1398e2;
	text-decoration:none;
}
.dms-message-container .dms-message-info .dms-systemrole{
	color:#FB538B;
}
.dms-message-container .dms-message-info .dms-giftshow{
	width: 25px;
	height: 26px;
}
.dms-message-container .dms-message-info .dms-time{
	position:absolute;
	right:10px;
	top:5px;
	display:inline;
	color:#999;
}


.dms-send-container{
	position:absolute;
	bottom:0px;
	width:100%;
	height:40px;
	color:#000000;
	overflow:hidden;
	background:#FAFAFA;
	border-top:1px solid #ccc;
}

.dms-send-container-hover{
	position:fixed;
	bottom:0px;
	z-index:9999;
}

.dms-send-container .dms-le-container{
	float:left;
	width:42px;
	height:100%;
}
.dms-le-container .dms-login-button{
	float:left;
	width:32px;
	height:32px;
	margin:4px 7px 5px 7px;
}
.dms-le-container .dms-expression-button{
	width:32px;
	height:32px;
	margin:4px 0px 5px 0px;
}
.dms-send-container .dms-button-container{
	float:right;
	width:100px;
	height:100%;
}
.dms-button-container input{
	font-size:16px;
	border:none;
	color:#ffffff;
    background:#2699ea;
	padding:3px;
	width:60px;
	height:30px;
	cursor:pointer;
    margin-top:4px;
    margin-left:4px;
	border-radius:4px;
	-webkit-appearance:none;
}
.dms-button-container .aodianyun-dms-gift {

  width: 30px;
  height: 25px;
  position:relative;
  left: 4px;
  top:5px;
}
.dms-send-container .dms-textarea-container{
	height:100%;
	width:auto;
	margin-left:42px;
	margin-right:100px;
	padding:5px;
}
.dms-textarea-container .dms-textarea-box{
	width:100%;
	height:28px;
}
.dms-textarea-container input{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:28px;
	resize:none;
	overflow:auto;
	border:1px solid #CCC;
	background:#fff;
	color:#676767;
	font-size:16px;
	-moz-border-radius:5px;      /* Gecko browsers */
    -webkit-border-radius:5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.dms-body-style{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	z-index:0;
	overflow:hidden;
}
.dms-login-mask{
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
	width:100%;
	height:100%;
	background:#000000;
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:998;
}
.dms-login-container{
	width:90%;
	height:265px;
	background:#FFFFFF;
	border:1px solid #ccc;
	position:fixed;
	top:50%; 
	margin-top:-125px;
	left:5%;
	z-index:999;
	-moz-border-radius:15px;      /* Gecko browsers */
    -webkit-border-radius:15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
	color:#666;
	font-family:'Microsoft YaHei','微软雅黑';
	display:none;
}
.dms-login-container input{
	font-family:'Microsoft YaHei','微软雅黑';
	-webkit-appearance:none;
}
.dms-login-header{
	width:100%;
    height:40px;
    border-bottom:1px solid #CCC;
    text-align:center;
    position:relative;
}
.dms-login-header .dms-login-text{
	margin-top:10px; font-size:24px;
}
.dms-login-header .dms-login-x{
	position:absolute;
    right:5px;
    top:-5px;
    font-family:'宋体';
    font-size:36px;
    color:#999;
    border:none;
    background:#ffffff;
}
.dms-login-body{
	width:100%;
    height:145px;
    text-align:center;
    font-size:20px;
}
.dms-login-body .dms-loigin-welcome{
	margin-top:20px;
}
#dmsUserNick{
	color:#999;
}
.dms-login-body .dms-login-qq-icon{
	margin-top:10px;
    width:60px;
    height:60px;
	background:url('qqA.png');
}
.dms-login-body .dms-login-qq-button{
	font-size:20px;
    color:#999;
    border:none;
    margin-top:5px;
    background:#ffffff;
}
.dms-login-footer{
	width:100%;
    height:50px;
    border-top:1px solid #CCC;
    text-align:center;
}
.dms-login-footer .dms-login-cancel{
	font-size:24px;
    color:#22a5e5;
    width:90%;
    border:none;
    margin-top:5px;
    background:#ffffff;
}
.dms-input-mask{
	width:100%;
	height:100%;
	background:#ffffff;
	position:absolute;
	top:0;
	left:0;
	z-index:998;
}
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

.swiper-container {
  height: 150px;
  width:320px;
}
.content-slide {
  padding: 20px;
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:3px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}


/**礼物**/
.aodianyun-dms-giftbox .swiper-container {
    backface-visibility: hidden;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background:#F1F1F1 none repeat scroll 0 0;
}
.aodianyun-dms-giftbox .swiper-wrapper {
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0s;
    transition-property: transform, left, top;
    transition-timing-function: ease;
    width: 100%;
}
.aodianyun-dms-giftbox .swiper-free-mode > .swiper-wrapper {
    margin: 0 auto;
    transition-timing-function: ease-out;
}
.aodianyun-dms-giftbox .swiper-slide {
    float: left;
}
.aodianyun-dms-giftbox .gift-pagination {
 
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    background:#F1F1F1 none repeat scroll 0 0;
}

.aodianyun-dms-giftbox .swiper-slide tr .selected {
    border: 1px solid #F6625F;  
    background:#fff none repeat scroll 0 0;
}

.aodianyun-dms-giftbox tr td {
    
    text-align: center;
}
.aodianyun-dms-giftbox tr td span {
    display: block;
}
.aodianyun-dms-giftbox tr td .price{
	color: #F57F7C;
	font-size: 0.5rem;

}
.aodianyun-dms-giftbox .gift_balance{
	padding-top: 15px;
	padding-bottom: 5px;  
	border-bottom:1px solid #E3E3E3 ; 
}
.aodianyun-dms-giftbox .gift-input-box { 
	display:inline-block;
	width: 66px;
	background: #F1F1F1 none repeat scroll 0 0;
	border: 1px solid #ccc;
}
.aodianyun-dms-giftbox .gift-input-box .gift-input-text{
	width:50px;
	border: 0 none;
	background: #F1F1F1 none repeat scroll 0 0;
}
.aodianyun-dms-giftbox .gift-input-box .to-select {

    background-image: url("present_box_v9.png");
    background-position: -276px 7px;
    background-repeat: no-repeat;
    display:inline-block;
    height: 14px;
    line-height: 100em;
    overflow: hidden;   
    width: 13px;
}
.aodianyun-dms-giftbox .gift-num{padding-top:5px; height: 30px;}
.aodianyun-dms-giftbox .send,.recharge{
	float: right;
	margin-right: 20px;
}
.btn {
    border-radius: 3px;
    cursor: pointer;
   
    padding: 3px 10px;
}
.btn-red {
    background: #F6625F none repeat scroll 0 0;
    border: 1px solid #F6625F;
    color: #fff;
}
.btn-white {
 
    color: #66CCFF;
}

.dmsSystemMessage{
	width:100%;
	font-size:14px;
	text-align:center;
	line-height:16px;
	color:#FF3300;
}